.open-sans-normal {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 230px 50px 226px;
}

h2 {
  font-size: 45px;
}
.title-design {
  color: #fd6e0a;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
nav ul li {
  color: #474747;
  margin-right: 51px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
.btn-primary {
  color: white;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  padding: 18px 36px;
}

/* main body for banner */

.upperpage {
  background-color: #fff8f3;
}
.banner {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/developer.png), url(../images/header_bg.png);

  background-repeat: no-repeat;
  background-position: top left, bottom right;
  margin: 0px 0px 0px 26px;
  background-color: ;
}
.content {
  margin-left: 212px;
}

.banner-head-1 {
  color: #474747;
  font-size: 45px;
}
.banner-head-2 {
  color: black;
  font-size: 85px;
}
.banner-descrption {
  color: #757575;
  font-size: 18px;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}
.about {
}
.about-items {
  display: flex;
  justify-content: space-around;

  /* margin: 100px 400px; */
  font-size: 20px;
}
.about-item {
  color: #757575;
}
.about-all {
  background-color: #ffe3ce;
  text-align: center;
  padding: 130px 156px;
  margin: 130px 0px;
}
.about-p {
  font-size: 18px;
}
.about-h5 {
  font-size: 35px;
}

/* what i do */
.Whatido {
  margin: 0 auto;
  text-align: center;
}
.whatido-sections {
  display: flex;
}
.skill {
  background-color: #ffffff;
  box-shadow: 0px 0px 20px #dddddd;
  margin-right: 10px;
  margin: 20px;
  padding: 20px;
}
.skillhead {
  font-size: 35px;
  font-weight: 700;
}
.skillpara {
  font-size: 18px;
  color: #757575;
}

/* summary section */

.summary-container{
  display: flex;
  gap: 20px;
/* columns: 2; */
color:#474747;
}
.smummary-title >h3{
  font-size: 35px ;
  text-align: center;
  margin-bottom:90px ;
  margin-top: 100px;
}
.summary-box >h3{
  font-size: 30px;
  color: #474747;
}
.summary-box >h4{
  font-size: 25px;
  color: #474747;
}
.summary-box >h5{
  font-size: 20px;
  color: #757575;
}
.summary-box >p{
  font-size: 16px;
  color: #757575;
}
.btn-4{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  
}


.footer{
  background-color:#FFF8F3 ;
  display: flex;
  gap:117px ;
}
.contact{
  margin-left: 370px
}

.contact >h3{
  font-size: 35px;

}
.contact >p{
  font-size: 16px;
  color: #474747;
}
.form-title > h3{
  font-size: 35px ;

}
.form-input{
  font-size:16px ;
  padding: 16px 30px ;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-right: 200px;
  
}
.line{
  color: #fd6e0a;
}
